<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        @{
            ViewData["Title"] = "Home Page";
        }
    </title>
    <style> 
        .center{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:70%;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/images/hpage.webp" class="center">
    </div>
    <!--  -->
</body>
</html>
